<%= render :partial => 'admin/shared/purchase_order_tabs', :locals => {:current => "Purchase Order Details"} %>

<%= render :partial => "add_product" %>

<% hook :admin_order_edit_header do %>
  <%=error_messages_for :order %>
<% end %>

<% hook :admin_order_edit_form do %>
  <div id="order-form-wrapper">
    <%= render :partial => 'po_form', :locals => {:purchase_order => @purchase_order} -%>
  </div>
<% end %>

<% content_for :head do %>
  <%= javascript_tag "var expand_variants = true;" %>
  <%= javascript_include_tag 'admin/orders/edit.js' %>
  <%= stylesheet_link_tag 'admin/edit_orders.css' %>
<% end %>
