<%= render :partial => 'admin/shared/purchase_order_tabs', :locals => {:current => "Purchase Order Details"} %>

  <h2><%= t("new_porder")%></h2>
  <%=error_messages_for :purchase_order %>

  <%= render :partial => "add_product" %>

  <div id="order-form-wrapper">
    <%= render :partial => "form" %>
  </div>

<% content_for :head do %>
  <%= javascript_tag "var expand_variants = true;" %>
  <%= javascript_include_tag 'admin/orders/edit.js' %>
  <%= stylesheet_link_tag 'admin/edit_orders.css' %>
<% end %>

